<html>
	<head>
		<title> DVR </title>
	</head>
	<body>
		<h1> Welcome to DVR!</h1>
		Today is {{date.0}}
	<form action="/" method="post">
	<p><select name="cam">
		{% for i in cam_name%}
		<option value={{ loop.index }}>{{ i }}
		{% endfor %}
	</select>
	<p><select name="date">
		<option selected value="0">{{date.0}}</option>
		<option value="1">{{date.1}}</option>
		<option value="2">{{date.2}}</option>
		<option value="3">{{date.3}}</option>
		<option value="4">{{date.4}}</option>
		<option value="5">{{date.5}}</option>
		<option value="6">{{date.6}}</option>
	</select>
	<input type="submit" value="Open"></p>
	</form>	
	</body>
</html>

